@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after,
body {
  font-family:
    "Wanted Sans Variable",
    "Wanted Sans",
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .en-text {
    font-family: "Poppins", sans-serif; /* 영어에만 Poppins 적용 */
  }

  /* truncate로 대체 가능? */
  .single-line-text {
    white-space: nowrap; /* 줄바꿈 없이 한 줄로 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    text-overflow: ellipsis; /* 넘치는 부분 말줄임표 처리 */
  }

  @keyframes bblFadInOut {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }

  .text-shadow {
    text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5); /* 그림자 효과 */
  }
}

/* .sticky {
  position: sticky;
  top: 0;  화면 상단에서 0px 떨어진 위치에 고정
  z-index: 1000; 다른 요소 위에 표시되도록 설정 (필요 시)
} */
